version: '3'

volumes:
  prometheus_data: {}
  grafana_data: {}
  terraform_data: {}

services:

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ./docker/rabbitmq/data/:/var/lib/rabbitmq/
        - ./docker/rabbitmq/log/:/var/log/rabbitmq
    healthcheck:
        test: rabbitmq-diagnostics -q ping
        interval: 30s
        timeout: 30s
        retries: 3

  keycloak:
    #image: quay.io/keycloak/keycloak:22.0.5
    build: ./keycloak
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - ICHP_BACKEND_HOST=http://backend:8081
    command: start-dev --import-realm
    volumes:
      - ./keycloak/volume/keycloak.json:/opt/keycloak/data/import/keycloak.json


  # Local DynamDb container (see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.DownloadingAndRunning.html)
  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  backend:
    build: ./backend
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: always
    links:
      - "dynamodb:dynamodb"
      - "keycloak:keycloak"
    ports:
      - "8081:8081"
    environment:
      - PORT=8081
      - GIN_MODE=debug
      - AWS_ENDPOINT=http://dynamodb:8000
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_SESSION_TOKEN=dummy
      - KEYCLOAK_CERT_ENDPOINT_URL=http://keycloak:8080/realms/ihp-realm/protocol/openid-connect/certs
      - MQ_CONN_STRING=amqp://guest:guest@rabbitmq:5672/
      - LOKI_HOST=http://loki:3100
    healthcheck:
      test: curl --fail http://localhost:8081/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

  #prometheus
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"

  #loki
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"

  #grafana
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    environment:
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: "/etc/grafana/provisioning/dashboards/backend_dashboard.json"

      #credentials: admin, pw: ihp_admin

  # Terraform
  terraform:
    build: ./terraform
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: always
    links:
      - "rabbitmq:rabbitmq"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - terraform_data:/app/TerraDocker
    environment:
      - MQ_CONNECTION_STRING=amqp://guest:guest@rabbitmq:5672/
    healthcheck:
      test: (echo "{health healthy}" | tee /proc/1/fd/1) || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
