version: '3'

services:

  keycloak:
    #image: quay.io/keycloak/keycloak:22.0.5
    build: ./keycloak
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - ICHP_BACKEND_HOST=http://backend:8081
    command: start-dev --import-realm
    volumes:
      - ./keycloak/volume/keycloak.json:/opt/keycloak/data/import/keycloak.json


  # Local DynamDb container (see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.DownloadingAndRunning.html)
  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  backend:
    build: ./backend
    restart: always
    links:
      - "dynamodb:dynamodb"
      - "keycloak:keycloak"
    ports:
      - "8081:8081"
    environment:
      - PORT=8081
      - GIN_MODE=debug
      - AWS_ENDPOINT=http://dynamodb:8000
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_SESSION_TOKEN=dummy
      - KEYCLOAK_CERT_ENDPOINT_URL=http://keycloak:8080/realms/ihp-realm/protocol/openid-connect/certs
    healthcheck:
      test: curl --fail http://localhost:8081/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
